<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxq.yunshao">
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="云梢"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.YunShao">
        
        <!-- 启动页 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|locale|layoutDirection"
            android:theme="@style/Theme.YunShao.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 主页面 -->
        <!-- 不在 Manifest 中锁定方向，允许平板横屏旋转 -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTop">
        </activity>
    </application>
</manifest>
